.custom-navbar {
    background: linear-gradient(135deg, #000000, #1e3c72);
    color: #fff;
}

.custom-navbar .navbar-brand {
    color: #fff;
}

.custom-navbar .navbar-nav .nav-link {
    color: #fff;
    font-size: 16px;
}

.custom-navbar .navbar-nav .nav-link:hover {
    color: #00bcd4; /* Couleur pour le survol */
}

.custom-navbar .navbar-nav .nav-link .badge {
    background-color: #00bcd4;
}

.custom-navbar .navbar-nav {
    display: flex;
    align-items: center;
}

.custom-navbar .navbar-nav .nav-item {
    margin-right: 15px;
}

.custom-navbar .navbar-nav .nav-item:last-child {
    margin-right: 0;
}
