<div class="paie">
  <button class="custom-button" type="button" (click)="loadTodayPayments()">
    Paiement du jour
  </button>

  <h1 *ngIf="showTotal">Paiements du jour</h1>
</div>

<br>

<div class="content table-responsive table-full-width">
  <table class="table">
    <thead>
      <tr>
        <th class="text-center">Id</th>
        <th class="text-center">Numéro de commande</th>
        <th class="text-center">Montant de la commande</th>
        <th class="text-center">Date de paiement</th>
        <th class="text-center">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let paie of TabPayment">
        <td class="text-center">{{ paie.id }}</td>
        <td class="text-center">{{ paie.orders?.numberOrder || 'N/A' }}</td>
        <td class="text-center">{{ paie.amountOrder }}</td>
        <td class="text-center">{{ paie.payment_date }}</td>
        <td class="td-actions text-center">
            <a rel="tooltip" title="View Details" class="btn btn-info btn-simple btn-xs" routerLink="/detailsPayments/{{paie.id}}">
                <i class="fa fa-user"></i>
            </a>
        </td>
        
      </tr>
    </tbody>
    <tfoot *ngIf="showTotal">
      <tr>
        <td colspan="2" class="text-right"><strong>Montant Total :</strong></td>
        <td class="text-center"><strong>{{ getTotalAmount() }}</strong></td>
        <td colspan="2"></td>
      </tr>
    </tfoot>
  </table>
</div>
