


<div class="user-details container mt-5">
    <div *ngIf="error" class="error"> {{ error }}</div>
    <div *ngIf="user">
      <h1>Détails de l'utilisateur</h1>
      <mat-card class="user-card mt-5">
        <mat-card-content>
          <p><strong>Nom :</strong> {{user.name}}</p>
          <p><strong>Téléphone :</strong> {{user.telephone}}</p>
          <p><strong>Email :</strong> {{user.email}}</p>
          <p><strong>Role :</strong> {{user.role}}</p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
